.container{
    max-width: max-content;
    margin: auto;
}

.photo{
    margin-top: 10px;
    width: 400px;
    height: 400px;
    border-radius: 3px;
}

.image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

input{
    width: 350px;
    height: 31px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: rgb(98, 90, 87);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
}

input::placeholder{
    color: rgb(180, 165, 159);
}

.welcome input{
    font-size: 36px;
    color: rgb(98, 90, 87);
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.welcome input::placeholder{
    color: rgb(98, 90, 87);
}
.email{
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(129, 119, 115);
}
.passport{
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(129, 119, 115);
}

.passport input{
    width: 200px;
}
.btn{
    width: 300px;
    height: 36px;
    font-size: 20px;

}

.title{
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-top:15px;
}

.application td{
    height: 20px;
    border:none
}

.delete{
    width: 241px;
    height: 34px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 10px;
}
.delete:hover{
    border: 2px solid rgb(255, 0, 0);
    background: rgba(255, 27, 27, 0.3);
}