.container{
    width: 1405px;
    height: 492px;
    border: 3px solid rgb(255, 181, 167);
    border-radius: 3px;
    background: rgba(249, 248, 246, 0.45);
    margin: 17px auto;
    display:grid;
    grid-template-columns: calc(395px + 36px) auto;
}
.img{
    width: 395px;
    height: 425px;
    border-radius: 3px;
    margin: 30px 18px;
    background-repeat: no-repeat;
    background-size: cover;
}
.nickname{
    width: 100%;
    height: 34px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
}
.edit{
    width: 141px;
    height: 20px;
    background-color: transparent;
    border:none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: right;
    margin-top: -5px;
    margin-right: 5px;
}
.edit:hover{
    background-color: transparent;
    border:none;
    font-weight: 700;
}
.info_dog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 34px 260px 135px;
    margin-top: 15px;
}
.title{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
}
.criterion{
    display: flex;
    padding: 10px;
}

.criterion span{
    padding: 0 5px;
    font-weight: 600;
    font-size: 16px;
}
.criterion div{
    font-size: 16px;
}

.marks{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.marks p{
    grid-column: 1/4;
}
