*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 45px;
    background: rgba(248, 237, 235, 0.4);
}
.navbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.navbar li{
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(180, 165, 159);

}
.image{
    margin-right: 100px;
    width: 40px;
    height: 40px;
}
img.profile{
    margin-left: 100px;
    width: 40px;
    height: 40px;
    top: 4px;
    right: 53px;
}
img.out{
    width: 40px;
    height: 40px;
    top: 4px;
    right: 10px;
}